{% extends 'base.html.twig' %}

{% block title %}Edit my password!{% endblock %}

{% block contenu %}
   <h1>Edit My password</h1>

   {% if message %}
     <div class="alert alert-info">{{ message }}</div>
   {% endif %}

   <hr>
   {{form(form)}}
{% endblock %}
